$red: #f50b00;

.vertical-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @media screen and (max-width: 1024px) {
    display: none;
  }
  ul {
    li {
      list-style-type: none;
      .wrapper-logo {
        margin: 20px 0;
        svg {
          width: 30px;
          height: 30px;
          stroke: #000;
          fill: #000;
        }
      }
    }
  }
}
